<div class="classification-history-modal-content col-md-9">
  <span id="classification-history-last-step" data-last-step="<%= @classification_history.length %>"></span>

  <% for i in 0...(@classification_history.length) %>
    <div class="classification-history col-md-12" id="classification-history-<%= i+1 %>" data-match-id="<%= @classification_history[i][:match].id %>" data-step="<%= i+1 %>" style="display: none">
      <div class="col-md-4">
        <p class="text-center"><%= i+1 %>/<%= @classification_history.length %></p>
        <ul class="pager">
          <li><a href="#" class="history-first"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
          <li><a href="#" class="history-previous"><span class="glyphicon glyphicon-backward"></span></a></li>
          <li><a href="#" class="history-next"><span class="glyphicon glyphicon-forward"></span></a></li>
          <li><a href="#" class="history-last"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
        </ul>

        <table class="Table Table--condensed">
          <tr>
            <th class="text-left col-md-6">Player</th>
            <th class="text-right col-md-6">Wins</th>
          </tr>

          <% (0..3).each do |p| %>
            <tr>
              <td class="text-left">
                <%= @players[@classification_history[i][:match].players[p]].name %>
              </td>
              <td class="text-right">
                <%= @classification_history[i][:match].victories[p] %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="col-md-4">
        <table class="Table Table--condensed">
          <% @classification_history[i][:before].each do |c| %>
            <% if @classification_history[i][:highlight].key?(c[:player_id]) %>
              <tr class="active">
            <% else %>
              <tr>
            <% end %>
              <td><%= @players[c[:player_id]].name %></td>
              <td><span title="<%= "#{'%.2f' % c[:points]}" %>"><%= "#{'%.0f' % c[:points]}" %></span></td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="col-md-4">
        <table class="Table Table--condensed">
          <% @classification_history[i][:after].each do |c| %>
            <% if @classification_history[i][:highlight].key?(c[:player_id]) %>
              <% if @classification_history[i][:highlight][c[:player_id]] == :up %>
                <tr class="classification-up">
              <% elsif @classification_history[i][:highlight][c[:player_id]] == :down %>
                <tr class="classification-down">
              <% elsif @classification_history[i][:highlight][c[:player_id]] == :equal %>
                <tr class="active">
              <% end %>
            <% else %>
            <tr>
          <% end %>
            <td><%= @players[c[:player_id]].name %></td>
            <td><span title="<%= "#{'%.2f' % c[:points]}" %>"><%= "#{'%.0f' % c[:points]}" %></span></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>
