<!-- Title and widget -->
<div class="col-md-4">
  <h1 class="Heading">Summary</h1>

  <div class="Widget">
    <div class="Widget-title">
      <h2><span>Best</span> <span>winning</span> <span>streaks</span></h2>
    </div>

    <div class="Widget-content Ranking">
    </div>
  </div>
</div>

<!-- Rankings -->
<div class="col-md-5 col-md-offset-1">
  <div class="SummaryTables">
    <div class="SummaryTables-selector">
      <% @division_data.each do |id, data| %>
        <button onClick="javascript:summary.selectDivision(<%= id %>)" class="SummaryTables-divisionSelector" data-id="<%= id %>"><%= data[:name] %></button>
      <% end %>
    </div>

    <% @division_data.each do |id, data| %>
      <div class="SummaryTables-division" data-id="<%= id %>" data-name="<%= data[:name] %>">
        <table class="Table" width="100%">
          <tr>
            <th class="col-md-1 text-right">#</th>
            <th class="col-md-4 text-left">Player</th>
            <th class="col-md-2 text-right">Points</th>
          </tr>

          <% data[:classification].each do |c| %>
            <tr>
              <td class="text-right Color-lightgrey Weight-light">
                <span class="before"></span> <%= c[:position] %>
              </td>
              <td class="text-left Weight-light"><%= @players[c[:player_id]].name %></td>
              <td class="text-right Weight-bold"><span title="<%= "#{'%.2f' % c[:points]}" %>"><%= "#{'%.0f' % c[:points]}" %></span></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</div>

<!-- Aside -->
<aside class="Recents">
  <div class="Recents-toggler">
    <button onClick="javascript:toggleSidebar()">Recent matches</button>
  </div>

  <div class="Recents-content">
    <% @recent_matches.each do |m| %>
      <div class="Recents-match Match">
        <div class="Match-content">
          <div class="Match-header">
            <span class="Match-division">
              <img
                src=""
                title="<%= @division_data[m.division_id][:name] %>"
                alt="<%= @division_data[m.division_id][:name] %> logo"
              />
            </span>
            <span class="Match-duration"><i class="glyphicon glyphicon-time"></i> <%= m.get_duration() %></span>
          </div>
          <div class="Match-body">
            <table>
              <% m.players.each_with_index do |player_id, index| %>
                <tr>
                  <td><%= @players[player_id].name %></td>
                  <td><%= m.victories[index] %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="Match-cta">
          <button><i class="glyphicon glyphicon-record"></i> Watch</button>
        </div>
      </div>
    <% end %>
  </div>
</aside>