<div class="col-md-4">
  <h1 class="Heading">Summary</h1>

  <!-- TODO: Racha de victorias
  <div class="WinStreak">
    <h2>Mejores rachas de victorias</h2>

    <div class="WinStreak-ranking"></div>
  </div>
  -->
</div>

<div class="col-md-5 col-md-offset-1">
  <div class="SummaryTables">
    <div class="SummaryTables-selector">
      <% @division_data.each do |id, data| %>
        <button onClick="javascript:summary.selectDivision(<%= id %>)" class="SummaryTables-divisionSelector" data-id="<%= id %>"><%= data[:name] %></button>
      <% end %>
    </div>

    <% @division_data.each do |id, data| %>
      <div class="SummaryTables-division" data-id="<%= id %>" data-name="<%= data[:name] %>">
        <table class="Table" width="100%">
          <tr>
            <th class="col-md-1 text-right">Pos</th>
            <th class="col-md-4 text-left">Player</th>
            <th class="col-md-2 text-right">Points</th>
          </tr>

          <% data[:classification].each do |c| %>
            <tr>
              <td class="text-right Color-lightgrey Weight-light">
                <span class="before"></span> <%= c[:position] %>
              </td>
              <td class="text-left Weight-light"><%= @players[c[:player_id]].name %></td>
              <td class="text-right Weight-bold"><span title="<%= "#{'%.2f' % c[:points]}" %>"><%= "#{'%.0f' % c[:points]}" %></span></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</div>

<aside class="Recents">
  <div class="Recents-toggler">
    <button onClick="javascript:toggleSidebar()">Partidos recientes</button>
  </div>

  <div class="Recents-content">
    <% @recent_matches.each do |m| %>
      <div class="Recents-match Match">
        <div class="Match-content">
          <div class="Match-header">
            <span class="Match-division">
              <img
                src=""
                title="<%= @division_data[m.division_id][:name] %>"
                alt="<%= @division_data[m.division_id][:name] %> logo"
              />
            </span>
            <span class="Match-duration"><i class="glyphicon glyphicon-time"></i> <%= m.get_duration() %></span>
          </div>
          <div class="Match-body">
            <table>
              <% m.players.each_with_index do |player_id, index| %>
                <tr>
                  <td><%= @players[player_id].name %></td>
                  <td><%= m.victories[index] %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="Match-cta">
          <button><i class="glyphicon glyphicon-record"></i> Watch</button>
        </div>
      </div>
    <% end %>
  </div>
</aside>

<!--
<div class="col-md-12">
  <h4>Recently finished matches</h4>
  <table class="table table-striped table-condensed">
    <tr>
      <th>Time</th>
      <th>Division</th>
      <th>Player 1</th>
      <th></th>
      <th>Player 2</th>
      <th></th>
      <th>Player 3</th>
      <th></th>
      <th>Player 4</th>
      <th></th>
      <th class="text-center">Details</th>
      <th class="text-center">Duration</th>
    </tr>
    <% @recent_matches.each do |m| %>
      <tr>
        <td><%= m.get_time() %></td>
        <td><%= @division_data[m.division_id][:name] %></td>
        <td><%= @players[m.players[0]].name %></td><td><%= m.victories[0] %></td>
        <td><%= @players[m.players[1]].name %></td><td><%= m.victories[1] %></td>
        <td><%= @players[m.players[2]].name %></td><td><%= m.victories[2] %></td>
        <td><%= @players[m.players[3]].name %></td><td><%= m.victories[3] %></td>
        <td class="text-center">
          <button class="btn btn-default btn-xs match-result-popover" data-toggle="popover" data-content="
            <table class='table table-condensed table-borderless'>
              <tr>
                <td class='text-right'><%= @players[m.players[0]].name %> + <%= @players[m.players[1]].name %></td>
                <td><%= m.scores[0][0].to_s %>-<%= m.scores[0][1].to_s %></td>
                <td><%= @players[m.players[2]].name %> + <%= @players[m.players[3]].name %></td>
              </tr>
              <tr>
                <td class='text-right'><%= @players[m.players[0]].name %> + <%= @players[m.players[2]].name %></td>
                <td><%= m.scores[1][0].to_s %>-<%= m.scores[1][1].to_s %></td>
                <td><%= @players[m.players[1]].name %> + <%= @players[m.players[3]].name %></td>
              </tr>
              <tr>
                <td class='text-right'><%= @players[m.players[0]].name %> + <%= @players[m.players[3]].name %></td>
                <td><%= m.scores[2][0].to_s %>-<%= m.scores[2][1].to_s %></td>
                <td><%= @players[m.players[1]].name %> + <%= @players[m.players[2]].name %></td>
              </tr>
            </table>
          ">Details</button>
        </td>
        <td class="text-center"><%= m.get_duration() %></td>
      </tr>
    <% end %>
  </table>
</div>

<% @division_data.each do |id, data| %>
  <div class="col-md-3">
    <h4><%= data[:name] %></h4>
    <table class="table table-condensed">
      <tr>
        <th class="col-md-1 text-right">Pos</th>
        <th class="col-md-4 text-left">Player</th>
        <th class="col-md-2 text-right">Points</th>
      </tr>
      <% data[:classification].each do |c| %>
        <tr>
          <td class="text-right"><%= c[:position] %></td><td class="text-left"><%= @players[c[:player_id]].name %></td>
          <td class="text-right"><span title="<%= "#{'%.2f' % c[:points]}" %>"><%= "#{'%.0f' % c[:points]}" %></span></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
-->